<title-bar pageTitle="{{plantDetail?.data?.familyCn}}" startIconName="arrow-back" searchIconName="" endIconName="menu"
           isSearch="true"></title-bar>

<ion-content class="margin-top-3">
    <div style="text-align: center">
        <img class="blur pic-background" src="{{getImageUrl(plantDetail?.data?.images[0])}}">
        <img class="pic" src="{{getImageUrl(plantDetail?.data?.images[0])}}">
        <button class="label-title">{{plantDetail?.data?.nameStd}}</button>
    </div>
    <div class="padding-vertical article">
        <p class="top-description">{{plantDetail?.data?.description}}</p>
        <table class="table">
            <tr *ngIf="plantDetail?.data?.alias != ''">
                <th><b>别名:</b></th>
                <th>{{plantDetail?.data?.alias}}</th>
            </tr>
            <tr *ngIf="plantDetail?.data?.nameLt != ''">
                <th><b>拉丁文名:</b></th>
                <th>&nbsp;&nbsp;{{plantDetail?.data?.nameLt}}</th>
            </tr>
            <tr>
                <th><b>科&#12288;&#12288;属:</b></th>
                <th>&nbsp;&nbsp;{{plantDetail?.data?.familyCn}}&nbsp;{{plantDetail?.data?.genusCn}}</th>
            </tr>
        </table>
        <div *ngIf="plantDetail?.data?.info?.xgsc != ''">
            <p><b>相关诗词：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.xgsc}}</p>
        </div>
        <div *ngIf="plantDetail?.data?.info?.jzgy != ''">
            <p><b>价值功用：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.jzgy}}</p>
        </div>
        <div *ngIf="plantDetail?.data?.info?.fbdq != ''">
            <p><b>分布地区：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.fbdq}}</p>
        </div>
        <div *ngIf="plantDetail?.data?.info?.yhjs != ''">
            <p><b>养护技术：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.yhjs}}</p>
        </div>
        <div *ngIf="plantDetail?.data?.info?.bxtz != ''">
            <p><b>表型特征：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.bxtz}}</p>
        </div>
        <div *ngIf="plantDetail?.data?.info?.hksj != ''">
            <p><b>花开时节：</b></p>
            <p class="subcontent">{{plantDetail?.data?.info?.hksj}}</p>
        </div>


        <div *ngIf="data != null">
            <div class="history-title-line"></div>
            <p class="history-title"><span><b>相 关 推 荐</b></span></p>

            <ion-grid class="grid">
                <ion-row justify-content-start>
                    <ion-col col-4 *ngFor="let item of data?.data;let i = index">
                        <img src="{{item?.imageUrl}}" (click)="jumpToOtherPlant(i)" *ngIf="item?.name != plantDetail?.data?.nameStd; else elseBlock;">
                        <ng-template #elseBlock>
                            <img src="{{item?.imageUrl}}">
                        </ng-template>
                        <label>{{item?.name}}</label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <div class="history-title-line"></div>
        <p class="history-title"><span><b>供 应 商 家</b></span></p>

        <!--<ion-grid class="grid">-->
            <!--<ion-row>-->
                <!--<ion-col>-->
                    <!--<img src="assets/imgs/1.png">-->
                    <!--<label>三日月美人</label>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<img src="assets/imgs/1.png">-->
                    <!--<label>阿吉塔玫瑰</label>-->
                <!--</ion-col>-->
                <!--<ion-col>-->
                    <!--<img src="assets/imgs/1.png">-->
                    <!--<label>乙女心</label>-->
                <!--</ion-col>-->
            <!--</ion-row>-->
        <!--</ion-grid>-->

        <div class="no-supplier">
            <img src="assets/imgs/icon-sad.png">
            <span>暂无供应商</span>
        </div>
    </div>

</ion-content>
