page-scenery-detail {
  .body-padding {
    margin-left: 1em;
    margin-right: 1em;
  }

  .big-title {
    font-size: 1.7rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .my-content {
    font-size: 1.5rem;
    line-height: 25px;
  }

  .border {
    border-bottom: 1px solid rgba(155,155,155,0.3);
  }
}
