<title-bar pageTitle="虫害详情" startIconName="arrow-back" searchIconName="" endIconName="" isSearch="true"></title-bar>

<ion-content class="margin-top-3">
    <img class="img" src="{{getImageUrl(detailList?.diseaseImage)}}">
    <div class="title-div">
        <div class="my-title">{{detailList?.diseaseName}}</div>
    </div>
    <div class="description" [innerHTML]="replaceAll(detailList?.diseaseDescription)"></div>
    <div class="subcontent" [innerHTML]="detailList?.diseaseSymptom"></div>
    <div *ngIf="detailList?.diseaseCharacter != null">
        <div class="div-line"></div>
        <p class="subtitle"><span>形态特征</span></p>
        <div class="subcontent" [innerHTML]="detailList?.diseaseCharacter"></div>
    </div>
    <div *ngIf="detailList?.diseaseCustom != null">
        <div class="div-line"></div>
        <p class="subtitle"><span>生活习性</span></p>
        <p class="subcontent margin-bottom-3" [innerHTML]="detailList?.diseaseCustom"></p>
    </div>
    <div *ngIf="detailList?.diseasePrevention != null">
        <div class="div-line"></div>
        <p class="subtitle"><span>防治措施</span></p>
        <p class="subcontent margin-bottom-3" [innerHTML]="detailList?.diseasePrevention"></p>
    </div>
</ion-content>