page-plant-idt-history {
  .back {
    background: url(../assets/imgs/back-plant-idt.png) no-repeat;
    background-size: cover;
  }
  .child {
    margin-top: 40vh;
    transform: translateY(-50%);
    text-align: center;
  }
  .button-center {
    display: inline-block;
    background: url(../assets/imgs/icon-flower-button-no-history.png) no-repeat;
    background-size: cover;
    width: 8em;
    height: 8em;
  }
  .label-center {
    color: #989898;
    font-size: 16px;
  }

  .card-ios {
    box-shadow: none;
    background: none;
  }
  .card-title {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card-subtitle {
    font-size: 0.8em;
    color: #989898;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .plant {
    margin-left: 1px;
    margin-right: -5px;
  }
  .col {
    padding: 0 !important;
  }

  .plant img {
    margin-bottom: 3px;
    border-radius: 4px;
  }

  .has-refresher > .scroll-content {
    border-top: none;
  }
}
