// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.color-blue {
  color: #479DF7;
}

.background-blue {
  background-color: #479DF7;
}

.ion-ios-home {
  content: url('../assets/imgs/icon-main-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-home-outline {
  content: url('../assets/imgs/icon-main.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-find {
  content: url('../assets/imgs/icon-find-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-find-outline {
  content: url('../assets/imgs/icon-find.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-mine {
  content: url('../assets/imgs/icon-mine-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-mine-outline {
  content: url('../assets/imgs/icon-mine.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-camera {
  content: url('../assets/imgs/icon-camera-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-camera-outline {
  content: url('../assets/imgs/icon-camera.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-flower {
  content: url('../assets/imgs/icon-flower-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-flower-outline {
  content: url('../assets/imgs/icon-flower.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-album {
  content: url('../assets/imgs/icon-album-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-album-outline {
  content: url('../assets/imgs/icon-album.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-share {
  content: url('../assets/imgs/icon-share-choose.png');
  height: 1em !important;
  min-width: 0 !important;
}

.ion-ios-share-outline {
  content: url('../assets/imgs/icon-share.png');
  height: 1em !important;
  min-width: 0 !important;
}
