<title-bar pageTitle="植物病害" startIconName="arrow-back" searchIconName="" endIconName="" isSearch="true"></title-bar>

<ion-content class="margin-top-3">
    <img class="img" src="{{getImageUrl(plantData?.imageUrl)}}">
    <div class="title-div">
        <div class="my-title">{{plantData?.plantName}}</div>
    </div>
    <div class="description" [innerHTML]="replaceAll(plantData?.plantDescription)"></div>
    <ng-template #listTemplate>
        <div>
            <div class="history-title-line"></div>
            <p class="history-title"><img src="assets/imgs/icon-sad-light-gray.png"
                                          class="history-img"><span>&nbsp;没有查询到该植物的病害信息</span></p>
        </div>
    </ng-template>
    <div *ngIf="diseaseList.length != 0; else listTemplate">
        <div class="div-line"></div>
        <p class="subtitle"><span>常见病害</span></p>
        <ion-item class="margin-bottom-3">
            <div class="card" *ngFor="let item of diseaseList" (click)="jumpToDetail(item?.id)">
                <ion-card>
                    <ion-row>
                        <ion-col col-4><img src="{{getImageUrl(item?.imageUrl)}}" class="card-img">
                        </ion-col>
                        <ion-col class="card-main" col-8 ion-item>
                            <div class="card-margin-bottom-8">{{item?.name}}</div>
                            <p class="card-margin-bottom-8 card-description"
                               [innerHTML]="replaceAll(item?.description)"></p>
                            <p>常见于{{item?.part}}</p>
                        </ion-col>
                    </ion-row>
                    <div class="line"></div>
                </ion-card>
            </div>

        </ion-item>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="diseaseList.length != 0">
    <div class="footer-stand">
        <button class="footer-button">病害推理</button>
    </div>
</ion-footer>
