page-plant-list {
  .card-ios {
    box-shadow: none;
  }
  .card-subtitle {
    font-size: 0.8em;
    color: #989898;
  }
  .plant {
    margin-left: 1px;
    margin-right: -5px;
  }
  //.card-ios {
  //  border: 2px solid red;
  //}
  .col {
    padding: 0 !important;
  }
}
