page-plant-list {
  .content {
    padding-top: 40px;
  }
  .card-ios {
    box-shadow: none;
  }
  .card-subtitle {
    font-size: 0.8em;
    color: #989898;
  }
  //.left-plant {
  //  margin-right: -4px;
  //}
  //.right-plant {
  //
  //}
  //.card-ios {
  //  border: 2px solid red;
  //}
  //.col {
  //  padding: 0 !important;
  //}
}
