title-bar {
  .toolbar-background {
    background: white;
    border: none;
    padding: 5px 0;
  }
  .header-ios .toolbar-background-ios {
    border: none;
  }
  .header {
    height: 50px;
    font-size: 20px;
  }
}
