<!-- Generated template for the TitleBarComponent component -->
<ion-header class="header">
  <ion-toolbar>

    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>

    <ion-buttons *ngIf="isSearch !== ('0' && 'false')" end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
