title-bar {
  .toolbar-background {
    background: #F9F9F9;
    border: none;
    padding: 5px 0;
  }
  .header-ios .toolbar-background-ios {
    border: none;
  }
  .header {
    height: 50px;
    font-size: 20px;
  }
  .line {
    height: 2px;
    background: rgba(74, 74, 74, 0.09);
  }
  .black-icon {
    color: #262626;
  }
}
